<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipe Card Food</title>
  <link rel="stylesheet" href="{{ asset('cssdetail/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css')}}">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css')}}">
<!-- Responsive-->
<link rel="stylesheet" href="{{ asset('css/responsive.css')}}">
<!-- fevicon -->
<link rel="icon" href="{{ asset('images/fevicon.png')}}" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="{{ asset('css/jquery.mCustomScrollbar.min.css')}}">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="{{ asset('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')}}">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css')}}">
<link rel="stylesheet" href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen')}}">

  <link
   rel="stylesheet"
   href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')}}"
   integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
   crossorigin="anonymous"
  />
 </head>
 <body style="background-color:grey">
    <div class="header_section2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div><a href="index.html"><img src="{{ asset('images/log.png')}}" style="width: 20%;"><h3 style="color: #ff9900;">PET SHOP</h3></diva> </div>
				</div>
				<div class="col-md-8">
					<div class="menu_text">
						<ul>
							<li class="last"><a href="{{ path('app_login') }}"style="color: #ff9900;">Log in / Register</a></li>
							<li class="last"><a href="#"><img src="{{asset('images/search-icon.png')}}"></a></li>
							<li class="active">
							 <div id="myNav" class="overlay">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                             <div class="overlay-content">
                             	<a href="index.html">Home</a>
                                <a href="about.html">About</a>
                                <a href="gallery.html">Gallery</a>
                                <a href="contact.html">Contact</a>
                              </div>
                            </div>
                             <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                            </div>	
                            </li>
						</ul>
					</div>
			</div>
		</div>
     <div class="body2">
  <div class="container3">
   <img src="{{ asset('/uploads/' ~ animal.filename)}}"  alt="Pancake"/>
   <div class="container3__text">
    <h1>{{ animal.name }}</h1>
    <p>c'est un {{ animal.categorie.name }}</p>
    <div class="container3__text__star">
        <span class="fa checked"style="padding-left:20px"> prix : {{ animal.prix }} DT</span>
        
       </div>
       
       <div style="padding-bottom: 30px;">
    <p>{{ animal.description }}</p>
</div>
    
    <button class="btn">acheter <i class="fa fa-arrow-right"></i></button>
   </div>
  </div>
</div>

    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         </script> 


   <script>
    function openNav() {
    document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
   document.getElementById("myNav").style.width = "0%";
   }
</script>
     
 </body>
</html>
