<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>OneHand</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Dosis:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/owl.carousel.css')}}">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <script src="{{asset('js/modernizr-2.6.2.min.js')}}"></script>


    </head>
    <body>


        <header class="main-header">
            
        
            <nav class="navbar navbar-static-top">
    
                <div class="navbar-top">
    
                  <div class="container">
                      <div class="row">
    
                        <div class="col-sm-6 col-xs-12">
    
                            <ul class="list-unstyled list-inline header-contact">
                                <li> <i class="fa fa-phone"></i> <a href="tel:">+216 51 933 323</a> </li>
                                 <li> <i class="fa fa-envelope"></i> <a href="ghratrichayma@gmail.com">contact</a> </li>
                           </ul> <!-- /.header-contact  -->
                          
                        </div>
                        <div class="col-sm-6 col-xs-12 text-right">

                            <ul class="list-unstyled list-inline header-social">
    
                                <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-twitter"></i>  </a> </li>
                                <li> <a href="#"> <i class="fa fa-google"></i>  </a> </li>
                                <li> <a href="#"> <i class="fa fa-youtube"></i>  </a> </li>
                                <li> <a href="#"> <i class="fa fa fa-pinterest-p"></i>  </a> </li>
                           </ul> <!-- /.header-social  -->
                          
                        </div>
                        
    
                        
    
    
                      </div>
                  </div>
    
                </div>
                <div class="navbar-main">
              
                    <div class="container">
      
                      <div class="navbar-header">
                       
                        
                        <a class="navbar-brand" href="index.html"><img src="assets/image/logo.jpg" alt=""width="8%" ></a>
                        
                      </div>
      
                      <div id="navbar" class="navbar-collapse collapse pull-right">
      
                        <ul class="nav navbar-nav">
      
                          <li><a class="is-active" href="home.jsp">HOME</a></li>
                          <li><a href="projectuser.jsp">OUR PROJECT</a></li>
                          <li><a href="connexion.jsp">LOGIN</a></li>
                          <li><a href="about.jsp">ABOUT US</a></li>
                          <li><a href="connexion.jsp">DONATE NOW</a></li>
      
                        </ul>
      
                      </div> <!-- /#navbar -->
      
                    </div> <!-- /.container -->
                    
                  </div> <!-- /.navbar-main -->
    
            </nav> 
    
        </header> <!-- /. main-header -->
        


<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.1.min.js"><\/script>')</script>

<!-- Bootsrap javascript file -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- owl carouseljavascript file -->
<script src="assets/js/owl.carousel.min.js"></script>

<!-- Template main javascript -->
<script src="assets/js/main.js"></script>

  </body>
  </html>