{% extends 'base.html.twig' %}

{% block title %}animal
{% endblock %}

{% block body %}
<a href="{{path('animal.list')}}">Retour</a>
<div id="di">
   {{form_start(form)}}
   <div class="form-rowalign-items-end">
   <div class="col">
   {{form_row(form.nom)}}
   </div>
   <div class="col">
   <div class="form-group">
   <button type="submit" class="btnbtn-success">Rechercher</button>
   </div>
   </div>
   </div>
   {{form_end(form)}}
</div>
{% if animals %}
	<h2>
		Animales
	</h2>
	<div class="row">
	{% for animal in animals %}
		<div class="col-3">
		    <div class="card-deck">
			<div class="card">
				<img  height="250px" widht="50px" class="card-img-top" src="{{ asset('/images/' ~ animal.filename)}}" alt="Card image cap" >	
			</div>
			<div class="card-body">
				<h5 class="card-title">{{animal.Name}}</h5>
				<p class="card-text">Prix :
					{{animal.Description}}
					DT</p>
					<a href="{{ path('animal.edit',{'id':animal.id}) }}" class="btn btn-primary">Détail</a>




			</div>
		</div>
		</div>
	{% endfor %}
	</div>
{% endif %}
{% endblock %}